<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="./styles/reset.css">
		<link rel="stylesheet" type="text/css" href="./styles/style.css">
	</head>
	<body>
		<div id="wrapper">
			<fieldset>
				<form>
					<div>
						<input type="text" name="username" placeholder="Email" required/>
					</div>
					<div>
						<input type="password" name="password" placeholder="Password" required/>
					</div>
					<div>
						<input type="submit" value="Login">
					</div>
				</form>
			</fieldset>
		</div>
	</body>
</html>