#wrapper {
	background-image: url("../images/Wedding2.jpg");
	position: fixed;
    left: 0;
    top: 0;
	text-align: center;
	width: 100%;
	height: 654px;
    overflow: auto;
	font-family: Arial;
	padding: 5%;
}

#register {
	position:relative;
	left: 15%;
	top: 10%;
	background-color: grey;
	padding: 30px;
	border-radius: 20px;
    border: 1px solid #888;
    width: 60%;
    transition: opacity 400ms ease-in;
}

#close {
	float:right;
	font-size: 2em;
	margin-right: 1.5em;
	cursor:pointer;
	color:black;
}

#login {
	display: inline-block;
	position: absolute;
	top: 30%;
	left: 4%;
	padding: 3%;
	width: 30%;
	background-color: transparent;
}

.form h2 {
	font-size: 2em;
	font-style: bold;
	color: white;
}

input[type="email"], input[type="text"], input[type="password"] {
	font-size: 1.3em;
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	color: blanchedalmond;
	margin: 20px;
	width: 90%;
}

input:focus {
	outline-width: 0;
}

.form input[type="submit"], button {
	width: 90%;
	font-size: 1.3em;
	background-color: lightgrey;
	border: none;
	border-radius:10px;
	padding: 5px;
	box-shadow: none;
	margin: 20px;
}

.form input[type="submit"]:hover, button:hover {
	cursor: pointer;
	background-color: beige;
}

#error {
	padding-top:15%;
	width: 50%;
}

#errorMessage h1, .title {
	color: white;
	font-size: 2em;
}

.container {
	margin-top: 5%;
	width: 100%;
}

.presents, .guests, .presentReservation {
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: grey;
	border-radius: 10px;
}

.presentReservation div {
	margin-top: 2%;
	margin-bottom: 2%;
}

.presentReservation p {
	margin-left:2%;
	display: inline;
	font-size: 1.5em;
}
